* {
    font-family: 'Lora', serif;
}

h1 {
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.15em;
    color: white;
    background: rgb(43, 43, 68);
    padding: 1.5em;
    margin:0 auto;
}

h2 {
    margin-top: 1.6em;
    font-size: 1.2em;
    text-align: center;
}

.intro-text{
    padding: 1em;

}

/* Form Element Styling*/

fieldset{
    border:0;
}

legend{
    font-weight: bolder;
    font-size: 1.3em;
    padding: 10px 0px;

}

label{
    display: block;

}

input[type=text],
input[type=email],
select{
    width: 95%;
    padding: 5px 0px;
}

option::first{
    color:lightgray;

}

input::placeholder{
    text-align: right;
    font-style: italic;
    padding-right: .75em;

}


.container {
    margin: -8px;
    width: 105%;

}


.intro-text{
    text-align: center;
    font-size: 0.90em;
    color: rgb(172, 170, 170);

}

.thick-line,
.line {
    background-color: black;
    width: 90%
}

.thick-line{
    height: 4px;
    margin-bottom: 2px;
}

.line{
    height: 2px;
    margin-top: 0;
}